<div class="qrCode">
  <div class="header">
    <button class="delete" ><img class="img" src="assets/files/delete.png"/>
      <div class="tooltip">Delete</div>
    </button>
      <h2>عرض التذكرة الخاصة بالفيلم</h2>
      <div class="Link">

        <button class="copyBtn" (click)="copyText()" >
        <p class="tooltip">copy</p>
        <img class="img" (click)="copyText()"  src="assets/files/copy.png"/>
        </button>
        <p class="linkTxt">{{textToCopy}}</p>
      </div>
      <h4>فعال حتى 15 يوليو 2023</h4>
  </div>
  <p class="median">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>

  <div class="footer">

    <div class="code">
      
      <qrcode class="qr"  (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
      <!-- <a [href]="qrCodeDownloadLink" download="qrcode">Download</a> -->
    </div>
    <button class="share"><img class="img" src="assets/files/send.png"/>
       <p class="shareText">
      مشاركة
    </p>
    <p class="tooltip">share</p>
  </button>
    
    <div class="occasion">
      <p>خصم</p>
      <p>25%</p>
    </div>

  </div>

  </div>
