<div class="median">
  <div class="first">
    <div class="book">احجز تذكرة جديدة</div>
    <h3 >مفعلة</h3>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>

  <div class="second">
    <button><img class="img" src="assets/files/up-down.png"/></button>
    <button><img class="img" src="assets/files/left-and-right-arrows.png"/></button>
    <input type="search" name="ticketNumber" [(ngModel)]="ticketNumber" (ngModelChange)="searchForTicket($event, ticketNumber)" placeholder="بحث عن " />
    <div *ngIf="searchedTicket && searchedTicket !== null" class="searchedTicket">{{searchedTicket.ticketNumber}}</div>
    <h3 >التذاكر</h3>
  </div>
</div>

<div class="container">
  <div class="headers"></div>

  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>التذكرة</th>
          <th></th>
          <th>عدد مرات الشراء</th>
          <th>الأشخاص</th>
          <th>السينمات</th>
          <th>السعر</th>
          <th>رقم التذكرة</th>
          <th>المستخدم</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index">
          <td> 
            <button type="button" class="savePdf" (click)="onDown('pdf', true)"><img class="img" src="assets/files/downloads.png"/>
              <div class="tooltip">save</div>
            </button>
            <i class="icon-file"></i>{{ ticket.ticket }}
          </td>
          <!-- <td><i class="icon-info" (mouseover)="showTooltip(i)" (mouseout)="hideTooltip()"></i><span class="tooltip" *ngIf="hoveredRow === i">{{ ticket.cinemas }}</span></td> -->
          <td>{{ ticket.purchaseCount }}</td>
          <td>{{ ticket.people }}</td>
          <td>{{ticket.cinemas}}
            <div class="tooltip">{{ticket.cinemas}}</div>
          </td>
          <td>${{ ticket.price }}</td>
          <td>{{ ticket.ticketNumber }}</td>
          <td>
            <div class="user">
              <div class="user-info">
                <span>{{ ticket.userName }}</span>
                <span>{{ ticket.userPhone }}</span>
              </div>
              <img class="user-avatar" [src]="ticket.userAvatar"/>
            </div>
          </td>
          <td>{{i+1}}</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button class="page-btn" (click)="prevPage()">‹</button>
      <button class="page-number" *ngFor="let page of pages; let i = index" 
              [ngClass]="{'active': currentPage === i+1}" 
              (click)="goToPage(i+1)">
        {{ i + 1 }}
      </button>
      <button class="page-btn" (click)="nextPage()">›</button>
    </div>
    <div class="show">
      <button>20</button>
      <p>من اصل 250</p>
      <p>عرض</p>
    </div>
  </div>
</div>

