.demo {
    position: relative;
    left: 250px;
    width: 60%;
    top: -40px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    text-align: right;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.header p {
    font-size: 14px;
    color: #666;
}
.header button{
    position: relative;
    top: 10px;
    right: 800px;
    border: 1px solid rgb(103, 100, 100);
    border-radius: 5px;
    padding: 5PX;
    width: 40px;
    cursor: pointer;
}

.demo .chart {
    position: relative;
    top: -20px;
    height: 245px;
    /* width: 200px; */
}

