<div class="container">

    <div class="buttons">
        <button class="update">
            <p class="updateText">تعديل</p>
            <p class="tooltip">تعديل</p>
            <img class="img" src="assets/files/edit.png"/>
        </button>
        <p>تذكرة رقم #2342 
        <button class="ticket"><img class="img" src="assets/files/next.png"/></button> 
    </p>
</div>
<div class="header">
    
    <app-echart class="charts"></app-echart>
    <app-qrcode class="qrcode"></app-qrcode>
</div>
<app-table class="table"></app-table>
</div>